* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -200px;
  padding-bottom: 20vh;
}
.titles {
  width: 100%;
  padding-top: 49vh;
  margin: auto;
}

.titles h1 {
  color: #007bff;
  text-align: center;
  font-size: 4.2em;
  font-weight: 600;
}
.line {
  width: 7vh;
  margin: auto;
  height: 0.2vh;
  border: none;
  margin-bottom: 4vh;
  background-color: #007bff;
  margin-top: 2vh;
}

.titles p {
  text-align: center;
  font-size: 1.3em;
  color: #333;
  margin-bottom: 4vh;
}
span {
  color: #007bff;
  margin-left: 0.2vh;
  margin-right: 0.2vh;
}
button {
  width: 20vh;
  height: 5vh;
  border: #007bff solid 0.2vh;
  display: block;
  margin: auto;
  color: #333;
  background-color: none;
}
button:hover {
  background-color: #777;
  color: white;
}
nav {
  background-color: #007bff;
}
nav a {
  text-decoration: none;
  color: white;
}
nav ul {
  display: flex;
  margin: auto;
  width: 40vh;
  justify-content: space-between;
  padding-bottom: 2vh;
  padding-top: 2vh;
}
nav li {
  list-style: none;
}

nav a:hover {
  color: #0212a2;
}
.about {
  padding-top: 20vh;
  width: 100vh;
  margin: auto;
  padding-bottom: 20vh;
}
h4 {
  font-size: 3vh;
  font-weight: 200;
  text-align: center;
  color: #333;
}
.about-image {
  margin: auto;
  width: 40%;
  margin-bottom: 6vh;
}
.about-image img {
  width: 100%;
  border-radius: 100%;
}
.about-text {
  color: #333;
  text-align: center;
  padding-bottom: 6vh;
  line-height: 1.4em;
}
.portfolio {
  background-color: #f2f1ed;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.galery-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.container-image {
  width: 36vh;
  margin: auto;
  position: relative;
}
.container-image:hover::before {
  content: "Projekt";
  background-color: rgba(0, 123, 255, 0.8);
  width: 36vh;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  color: white;
  font-size: 5vh;
  box-sizing: border-box;
  padding-top: 7vh;
  z-index: 1;
  cursor: pointer;
}

.container-image img {
  width: 100%;
}

.contact {
  padding-top: 20vh;
  padding-bottom: 20vh;
}
form {
  width: 40%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
input,
textarea {
  font-family: "Open Sans", sans-serif;
  width: 49%;
  border: 1px solid #adadad;
  height: 5vh;
  padding-left: 1vh;
}
textarea[name="message"] {
  height: 10vh;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
footer {
  background-color: #f2f1ed;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: #777;
  text-align: center;
}
.contact-socials {
  width: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 6vh;
}
.contact-socials img {
  width: 4vh;
}
